################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExamplesFromBlair/.vs
/ExamplesFromBlair/Pipes-1/bin/Debug
/ExamplesFromBlair/Pipes-1/obj/Debug
/ExamplesFromBlair/Pipes-1/obj/Release/Pipes-1.csproj.CoreCompileInputs.cache
/ExamplesFromBlair/Reader/bin/Debug
/ExamplesFromBlair/Reader/obj/Debug
/ExamplesFromBlair/Reader/Reader.csproj.user
/ExamplesFromBlair/Writer/bin/Debug
/ExamplesFromBlair/Writer/obj/Debug
